#Ignored Files.!
Android/
bash/
bash-manual.txt
bookmarks_09_09_2024.html
C/
code/
CPP/
Csharp/
Discord/
ffmpeg/
Git/
.ipynb_checkpoints/
Jupyter-Lab/
language.sln
parsec_backup_codes.txt
passwd/
Python/yt-downloader.py
Python/.auto/git-control/main.py
Python/.auto/git-control/setup.py
Python/.auto/todolist/__pycache__/
*.bin
SQLNotesForProfessionals.pdf
test/
tools/
.vscode/
window/
#My EBook
Python/PYTHON/
